# Practice 1

## Instructions

You're going to practice working in pandas. 


You'll walk through instantiating a `DataFrame`, reading data into it, looking at and examining that data, and then playing with it. 


A dataset on the [quality of red wines](https://archive.ics.uci.edu/ml/datasets/wine+quality) is used for this purpose.
It is located in the `data` folder within this directory. It's called `winequality-red.csv`. 


Typically, we use Jupyter notebooks like this for a very specific set of things - presentations and EDA. 


Today, as we'll be playing around with `pandas`, much of what we'll be doing is considered EDA. Therefore, by using a notebook, we'll get a tighter feedback loop with our work than we would trying to write a script. But, in general, **we do not use Jupyter notebooks for development**. 

Below, we've put a set of questions and then a cell for you to work on answers. However, feel free to add additional cells if you'd like. Often it will make sense to use more than one cell for your answers.

## Assignment Questions

### Part 1 - The Basics of DataFrames

Let's start off by following the general workflow that we use when moving data into a DataFrame: 

    * Importing pandas
    * Reading data into the DataFrame
    * Getting a general sense of the data

So, in terms of what you should do for this part...

1. Import pandas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random

In [2]:
def factorial_upto_n(n):
    factorial_list = [1]
    factorial = 1
    for i in range(1,n+1):
        factorial *= i
        factorial_list.append(factorial)
    return factorial_list

In [ ]:
factorial_upto_n(5)

In [4]:
def factorial(n):
    return 1 if n<1 else n*factorial(n-1)

In [ ]:
factorial(5)

In [ ]:
[factorial(n) for n in range(11)]

In [7]:
def fibonacci(n):
    fibonacci_list=[0,1]
    fibonacci = 1
    for i in range(1,n+1):
        fibonacci = i + (i-1)
        fibonacci_list.append(fibonacci)
    return fibonacci_list

In [ ]:
fibonacci(10)

In [ ]:
np.random.seed(42)
df = pd.DataFrame({'A':np.random.rand(5), 'B': np.random.rand(5)})
df

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.sum()

In [ ]:
np.random.seed(49)
df = pd.DataFrame({'A':np.random.rand(10), 'B':np.random.rand(10), 'C':np.random.rand(10)})
df

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6), 
                   'data2':np.random.randint(0, 10, 6)}, columns = ['key', 'data1', 'data2'])
df

In [ ]:
df.groupby('key').aggregate([min, np.median, max])

In [ ]:
df.groupby('key').aggregate({'data1': min, 'data2': 'max'})

In [17]:
def filter_fnc(x):
    return x['data1' or 'data2'].std()>1.2

In [ ]:
df

In [ ]:
df.groupby('key').std()

In [ ]:
df.groupby('key').filter(filter_fnc)

In [21]:
def center(x):
    return x - x.mean()

In [ ]:
df.groupby('key').transform(center)

In [23]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x

In [ ]:
df.groupby('key').apply(norm_by_data2)

In [25]:
planets = sns.load_dataset('planets')

In [ ]:
planets.columns

In [ ]:
planets.groupby('method')['orbital_period'].median()

In [ ]:
planets.groupby('method')['year'].describe().unstack()

2. Read the wine data into a DataFrame.

In [ ]:
df = pd.read_csv("data/winequality-red.csv", delimiter=';')
cols = df.columns.to_list()
cols = [col.replace(' ', '_') for col in cols ]
cols = [col.lower() for col in cols]
df.columns = cols
df.head()

3. Use the `attributes` and `methods` available on DataFrames to answer the following questions: 
    * How many rows and columns are in the DataFrame?
    * What data type is in each column?
    * Are all of the variables continuous, or are any categorical?
    * How many non-null values are in each column?
    * What are the min, mean, max, median for all numeric columns?

In [ ]:
df.info()

In [ ]:
df.describe().transpose()

### Part 2 - Practice with Grabbing Data

Let's now get some practice with grabbing certain parts of the data. If you'd like some extra practice, try answering each of the questions in more than one way (because remember, we can often grab our data in a couple of different ways).

1. Grab the first 10 rows of the `chlorides` column.

In [ ]:
df.iloc[0:10, [4]]

2. Grab the last 10 rows of the `chlorides` column.

In [ ]:
df['chlorides'][-10:]

3. Grab indices 264-282 of the `chlorides` **and** `density` columns.

In [ ]:
df.loc[264:283, ['chlorides', 'density']]

4. Grab all rows where the `chlorides` value is less than 0.10.

In [ ]:
df.query('chlorides < 0.10')

5. Now grab all the rows where the `chlorides` value is greater than the column's mean (try **not** to use a hard-coded value for the mean, but instead a method).

In [ ]:
chlorides_mean = df['chlorides'].mean()
df.query('chlorides > @chlorides_mean')

6. Grab all those rows where the `pH` is greater than 3.0 and less than 3.5.

In [ ]:
df.query('ph > 3.0 and ph < 3.5')


7. Further filter the results from 6 to grab only those rows that have a `residual sugar` less than 2.0.

In [ ]:

df.query('ph > 3.0 and ph < 3.5 and residual_sugar < 2').reset_index(drop=True)

### Part 3 - More Practice

Let's move on to some more complicated things. Use your knowledge of `groupby`s, `sorting` to answer the following.

1. Get the average amount of `chlorides` for each `quality` value.

In [ ]:
quality_groups = df.groupby('quality').mean()['chlorides']
quality_groups

 2. For observations with a `pH` greater than 3.0 and less than 4.0, find the average `alcohol` value by `pH`.

In [ ]:
df.query('ph > 3.0 and ph < 3.1').groupby('ph').mean()['alcohol']

3. For observations with an `alcohol` value between 9.25 and 9.5, find the highest amount of `residual sugar`.

In [ ]:
df.query('alcohol > 9.25 and alcohol < 9.5').max()['residual_sugar']

4. Create a new column, called `total_acidity`, that is the sum of `fixed acidity` and `volatile acidity`.

In [42]:
df.eval('total_acidity = fixed_acidity + volatile_acidity', inplace=True )

In [ ]:
df.columns

5. Find the average `total_acidity` for each of the `quality` values.

In [ ]:
df.groupby('quality').mean()['total_acidity']

6. Find the top 5 `density` values.

In [ ]:
df['density'].sort_values()

7. Find the 10 lowest `sulphates` values.

In [ ]:
df['sulphates'].sort_values(ascending=True).head(10)