In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
titanic.columns

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
titanic.groupby(['sex', 'pclass'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.pivot_table('survived', index='sex', columns='pclass', aggfunc='mean')

In [ ]:
age=pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')

In [ ]:
fare = pd.qcut(titanic['fare'],2)
titanic.pivot_table('survived', ['sex', age], [fare, 'pclass'])

In [ ]:
titanic.pivot_table(index='sex', columns='class', aggfunc=({'survived': sum, 'fare': 'mean'}))

In [ ]:
titanic.pivot_table('survived', index='sex', columns='class', margins=True)

In [ ]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s if s is None else s.capitalize() for s in data]

In [ ]:
names = pd.Series(data)
names

In [ ]:
names.str.capitalize()

In [58]:
nrows, ncols = 100000, 100
column_names = [chr(65 + i // 26) + chr(65 + i % 26) for i in range(ncols)]
df1, df2, df3, df4 = (pd.DataFrame(np.random.random((nrows, ncols)), columns=column_names) for i in range(4))

In [ ]:
df1.head()

In [ ]:
df1.replace('0', 'A')

In [ ]:
%timeit df1+df2+df3+df4

In [ ]:
%timeit pd.eval('df1+df2+df3+df4')

In [ ]:
df2.eval('AA1 = AB / AA', inplace=True)
df2

In [ ]:
df1.query('AA<0.03 and (AB>0.1 or AC>0.1) and AE<0.05')

In [ ]:
pd.concat([df1,df2], ignore_index=True)

In [ ]:
pd.concat([df1,df2], axis=1)